body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.header{
  background:#D6E4E5 ;
  height: 70px;
  display: flex;
  align-items: center;
  color: #060047;
}

.footer{
  display: flex;
  justify-content: center;
  background:#D6E4E5 ;
  margin-top: 80vh;
  padding: 20px;
}